
body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #00BFFF, #008000);
}

/* Layout  */
main {
  width: 1194px;
  height: 834px;
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #a8efff;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 8px;
 


}

