/* Diagnostic */

* {
  outline: 1px dotted rgb(12, 12, 12);
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #00BFFF, #008000);
}

/* Layout  */
main {
  width: 1194px;
  height: 834px;
}

